---
---

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
.post {
  .date {
    font-style: italic;
  }
  .edits {
    .edit {
      font-size: 140%;
      font-style: italic;
    }
  }
  .info div {
    display: inline;
  }
}

.main-content {
  p, li {
    font-size: 140%;
  }

  h1, h2, h3, h4 {
    a {
      color: inherit;
    }
  }
  h2 {
    margin-top: 3rem;
  }
}

.photo-gallery {
  list-style: none;
  padding: 0;
  li {
    list-style: none;
    padding: 2px 0;
    display: inline-block;
    width: 33%;
    img {
      width: 100%;
    }
  }
}

.site-avatar img {
  padding-bottom: 13px;
}

footer {
    text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
