---
---

@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
html {
  height: 100%;
}
body {
  font-size: 16px;  //increase font-size for the blog
  height: 100%;
}

.photo-gallery {
  list-style: none;
  padding: 0;
  li {
    list-style: none;
    padding: 2px 0;
    display: inline-block;
    width: 33%;
    img {
      width: 100%;
    }
  }
}

.site-avatar img {
  padding-bottom: 13px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "brand";
@import "type";
@import "highlights";
@import "svg-icons";
