.bg-os-green {
  background-color: $os-green;
}
.bg-os-gray {
  background-color: $os-gray;
}
.bg-os-blue {
  background-color: $os-blue;
}
.bg-os-purple {
  background-color: $os-purple;
}
.bg-os-yellow {
  background-color: $os-yellow;
}
.bg-os-orange {
  background-color: $os-orange;
}
.bg-os-red {
  background-color: $os-red;
}

.os-green {
  color: $os-green;
}
.os-gray {
  color: $os-gray;
}
.os-blue {
  color: $os-blue;
}
.os-purple {
  color: $os-purple;
}
.os-yellow {
  color: $os-yellow;
}
.os-orange {
  color: $os-orange;
}
.os-red {
  color: $os-red;
}

.facebook {
  color: #3b5998;
}
.linkedin {
  color: #0077B5;
}
.twitter {
  color: #1DA1F2;
}
.github {
  color: #000000;
}
.youtube {
  color: #FF0000;
}
.pinterest {
  color: #BD081C;
}
.googleplus {
  color: #D34836;
}
.stackoverflow {
  color: #F48024;
}
.rss {
  color: #F26522;
}
.instagram {
  color: #C13584;
}
