.bg-os-green {
  background-color: $os-green;
}
.bg-os-gray {
  background-color: $os-gray;
}
.bg-os-blue {
  background-color: $os-blue;
}
.bg-os-purple {
  background-color: $os-purple;
}
.bg-os-yellow {
  background-color: $os-yellow;
}
.bg-os-orange {
  background-color: $os-orange;
}
.bg-os-red {
  background-color: $os-red;
}

.os-green {
  color: $os-green;
}
.os-gray {
  color: $os-gray;
}
.os-blue {
  color: $os-blue;
}
.os-purple {
  color: $os-purple;
}
.os-yellow {
  color: $os-yellow;
}
.os-orange {
  color: $os-orange;
}
.os-red {
  color: $os-red;
}
