h1, h2, h3, h4 {
  a {
    color: inherit;
  }
}
h2 {
  margin-top: 3rem;
}
h1, h3, h4 {
  margin-top: 1rem;
}
h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
  margin-top: -120px;
  padding-top: 120px;
}
