h1, .h1 {
    font-size: $h1-font-size;
}
h2, .h2 {
    font-size: $h2-font-size;
}
h3, .h3 {
    font-size: $h3-font-size;
}
h4, .h4 {
    font-size: $h4-font-size;
}
h5, .h5 {
    font-size: $h5-font-size;
}
h6, .h6 {
    font-size: $h6-font-size;
}
h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
  }
}
h2 {
  margin-top: 3rem;
}
h1, h3, h4 {
  margin-top: 1rem;
}
h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
  margin-top: -120px;
  padding-top: 120px;
}
.font-weight-light {
    font-weight: 200;
}
