<!DOCTYPE html>
<html lang="en" class="wf-fontawesome-n4-active wf-active">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="stylesheet" href="https://onshift.github.io/flamingo/css/flamingo.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/adce67ce41.css" media="all">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  </head>

  <body>
    <nav class="navbar navbar-utility">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#productNav" aria-expanded="false">
            [Toggle Menu]
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="productNav">
          <ul class="nav navbar-nav">
            <li><a href="https://www.onshift.com/">OnShift</a></li>
            <li class="active"><a href="/">Engineering Blog<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="mb-md mt-md mr-sm">
                    <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
                    <span class="h2 product">{{ site.name }}</span>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="unbold text-right mt-xl">{{ site.description }}</h3>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-schedule">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand visible-xs" href="#">
                )°( Engineering Blog
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primaryNav">
                [Toggle Menu]
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="primaryNav">
          <ul class="nav navbar-nav">
            <li{% if page.path == "/" %} class="active"{% endif %}><a href="{{ site.baseurl }}/">Blog</a></li>
            <li{% if page.path == "/about/" %} class="active"{% endif %}><a href="{{ site.baseurl }}/about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main-content">
        <div id="main" role="main" class="container">
            {{ content }}
        </div>
    </div>

    <div class="panel-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
