---
layout: default
---

{% assign author = site.data.people[page.author] %}
<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date mt-sm mb-sm">{{ page.date | date: "%B %e, %Y" }}</div>

  <div class="entry">
    {{ content }}
  </div>

  {% if page.edits %}
  <div class="edits">

    {% for post_edit in page.edits %}
    <div class="edit mt-md">
      <div class="heading">This post was edited on {{ post_edit.date | date: "%B %e, %Y %I:%M%p" }}</div>
      <div class="description">{{ post_edit.description }}</div>
    </div>
    {% endfor %}

  </div>
  {% endif %}

  <div class="info mt-md">
    Written on <div class="date">{{ page.date | date: "%B %e, %Y" }} by
    <div class="author">
        {% if page.authors %}
          {% for coauthor in page.authors %}
            {% if site.data.people[coauthor] %}
              <a href="/about/#author-{{ page.author }}">{{ site.data.people[coauthor].full_name }}</a>
            {% else %}
              {{ coauthor }}
            {% endif %}
            {% unless forloop.last %},{% endunless %}
          {% endfor %}
        {% else %}
          {% if site.data.people[page.author] %}
            <a href="/about/#author-{{ page.author }}">{{ site.data.people[page.author].full_name }}</a>
          {% else %}
            {{ page.author }}
          {% endif %}
        {% endif %}
    </div>
  </div>

  {% include disqus.html %}
</article>
